

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 70px;
  margin: 0;
  background-image: url(./flat-earth-stock.jpg)
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#root{
  padding:0;
  margin:0;
}

.title {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  height: 50px;
  text-align: center;
  padding: 0;
  margin:0
}

.main-container {
  margin: 0;
  padding: 0;
}

.main-header{
  height: 15%;
  position: relative;
  width: 100%;
  top:0;
}

.main-form {
  width: 100%;
  color: #ffffff;
  height: auto;
  text-align: center;
  margin-bottom: 10px
}

input[type='text']{
  width: 20%;
  height: 30px;
  font-size: 1em;
  padding: 10px;
}
input[type='submit']{
  width: 10%;
  display: inline;
  padding: 17px; 
  margin-left: 5px;
  font-size: 1em;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 10px;
  background-color: #212221;
  margin-left: 20px
}


.main-container .table-container{
  padding: 0 10px 10px 10px;
  overflow-x: auto;
  height: 700px;
}

/* thead.table-head { position: sticky; top: 0; } */

.table-head {
  font-weight: bold;
  background-color: #222;
  position: fixed;
  min-width:100%; 

}

.tr-head{
  display: flex;
  flex:wrap;
}
.table-cell {
  width: 100%;
}



th, td {
  text-align: left;
  padding: 8px;
  max-height: 30px;
}

tbody{
  padding-top: 70px;
  overflow-y: auto;
}


tr:nth-child(even) {
  background-color: gray;
}

tr.error-tr {
  position: absolute;
  width: 100%;
  font-size: xx-large;
}

.main-table{
  width:100%;
  max-height: 70%;
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}



.main-footer {
  height: 15%;
  background-color: #000000;
  width:100%;
  color: #ffffff;
  padding: 0;
  margin: 0;
}


.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
